.selected-text {
    color:green;

}
.current-text {
    color: green;
}
.unselected-text {
    color: black;
}
.error {
    color: red;
    background: rgba(255,0,0,0.3);
}
.typeracer-container {
    display: flex;
    flex-direction: column;
}